/* styles.css */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: white;
}

#game {
  display: grid;
  gap: 2px;
  margin-bottom: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.cell.revealed {
  background-color: #504f4f;
  cursor: default;
}

.cell.mine {
  background-color: red;
  background-image: url("https://pngimg.com/d/mines_PNG11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cell.flag {
  background-image: url("https://cdn-icons-png.flaticon.com/512/5515/5515469.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cell.win {
  background-color: green;
  background-image: url("https://pngimg.com/d/mines_PNG11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#restartButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

#restartButton img {
  width: 30px;
  height: 30px;
}

#gameMessage {
  font-size: 18px;
  margin-bottom: 20px;
}
